.conseilsBoxes {
    text-align: center;
    height: 100%;
    width: 100%;
    color: white;
}

.conseilsTitle {
    font-size: 3vh;
    font-weight: bold;
    margin-bottom: 5vh;
    padding-top: 2vh;
}

.conseilsHover {
    cursor: pointer;
    font-size: 3vh;
}

.show {
    display: initial;
}

.hide {
    display: none;
}

.conseilsItems {
    margin-top: 2vh;
    margin-bottom: 1vh;
}

.conseilsItems:hover {
    color: yellow;
}