.simulateur {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}


.title {
    font-size: 2rem;
}

.explication {
    margin: 20px;
    text-align: center;
}

.next {
    margin: 20px;
}